

/*<div>*/
div#backgroundheader{
    height: 35px;
    width: 100%;
    background-color: #034008;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
div#LogSign{
    float: right;
    margin-top: 13px;
    margin-right: 10px;

}
div#hubtab{
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}
div#loginHub{
    border-style: double;
    height: 30%;
    width: 40%;
    text-align: center;
}

/* .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #fff;  
     background-repeat: no-repeat;
    background-size: auto;
  
  }
  .wrap-login100 {
  width: 390px;
  background: #ffffffa6;
} */

/*<a>*/
a:link#tab, a:visited#tab{
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
}

/*<img>*/
img#logoImg{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-size: 25px;
}
/* a:hover#tab{
    background-color: #c6f5ca;
    background-size: 10px;
} */
