div#leftpage{
    float: left;
    width: 35%;
    height: 100%;
    background-color: #1E5631;
    margin-left : 0%;
    margin-top : 0%;
    
}
div#rightpage{
    float: right;
    width: 80%;
    height: 100%;
}
div#scrolltable{
    height: 300px;
    width: 100%;
    overflow: scroll;
}
img#icons{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;

    background-position: center;
}
html{
    width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
    }
    body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

table#records{
    border-collapse: double;
    color: black;
    width: 80%;
    margin-left: 7.5%;
    margin-right: 5%;
    margin-top: 3%;
    border-style: double;
    border-width: 80%;
    height: 25%;
    overflow: scroll;

}
tr#norec{
    width: 90%;
    height: 100%;
    text-align: center;
}

th#dept{
    text-align: center;
    border-style: solid;
    border-width: 80%;
}
tr{
    text-align: left;
}
th#schem{
    border-style: solid;
    border-width: 80%;
}
th#norec{
    width: 100%;
}
tr#title{
    font-size: 18px;
    background-color: lightgoldenrodyellow;
}
table#formatform{
    border-style: hidden;
}

th#edit{
    text-align: center;
    background-color: #347474;
    border-width: 80%;
}

th#delete{
    text-align: center;
    background-color: #f0134d;
    border-width: 80%;
}